.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 10px;
    padding: 20px 10px;

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__list {
        font-size: 1.125rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
