.my-button {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 20px 12px;
    border-radius: 10px;
    transition: all 0.2s ease-in;

    &:hover {
        box-shadow: inset 0px 0px 10px rgba(255, 212, 59, 0.5), inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(255, 212, 59, 0.5);
    }

    &:active {
        color: var(--black-color);
        background-color: var(--active-yellow);
    }
}
