:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --black-dark-color: #383838;
    --light-color: #f9f9f9;
    --lightest-grey: #f7f7f7;
    --dark-grey: #252525;
    --light-grey: #ccc;
    --dark-color: #1f2a40;
    --main-yellow: #ffed00;
    --main-red: rgb(255, 0, 0);
    --transparent: rgb(132, 144, 149);

    --dark-color-transparent: rgba(0, 0, 0, 0.5);
    --hover-grey: #f0f0f0;
    --hover-yellow: #ffd700;

    --focus-yellow: #dcbc04;
    --active-yellow: #e1c20f;
}
