.manager-info {
    display: flex;
    gap: 20px;

    &__manager-block {
        display: flex;
        flex-direction: column;
        gap: 23px;
        max-width: 410px;
        width: 100%;
    }
}
